.nav-link {
  color: white;
  opacity: 0.8;
  border-bottom: 2px solid transparent;
  transition: 150ms ease-in border;

  &:hover,
  &.active {
    opacity: 1;
    color: white;
  }

  &.active {
    border-bottom: 2px solid white;
  }
}
