.UserCard {
  &:not(.NotLink) {
    &:hover {
      cursor: pointer;
      background: whitesmoke;
      text-decoration: none;
    }
  }

  .CardBody {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .UserName {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: calc(100% - 30px);
    padding-right: 1rem;
  }

  .DeleteIcon {
    opacity: 0.5;

    &:hover {
      opacity: 1;
    }
  }

  .Badges {
    position: absolute;
    top: 0;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    padding: 10px;
  }
}
.UserImage {
  height: 250px;
  object-fit: cover;
}
